body {
    background-color: #138b2f;
    font-family: Arial, sans-serif;
    text-align: center;
}
 
h1 {
    color: #2c3e50;
}
 

.caja {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 15px;
    color: red;
    font-weight: bold;
    font-size: 18px;
    line-height: 150px;
    border-radius: 8px;
}
 
.caja1 {
    background-color: #e74c3c;
}
 
.caja2 {
    background-color: #3498db;
}
 
.caja3 {
    background-color: #2ecc71;
}